<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "welcome" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
  from django.conf import settings
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="title">${_("Welcome")}</%block>
<%block name="bodyclass">not-signedin index view-howitworks</%block>

<%block name="content">

<div class="wrapper-content-header wrapper">
  <section class="content content-header">
    <header>
      <h1><span class="wrapper-text-welcome">${_("Welcome to {studio_name}").format(
          studio_name=settings.STUDIO_NAME
      )}</span></h1>
      <p class="tagline">${_("{studio_name} helps manage your online courses, so you can focus on teaching them").format(
        studio_name=settings.STUDIO_SHORT_NAME
      )}</p>
    </header>
  </section>
</div>

</%block>
