## mako

<%page args="active_page=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>

<%!
from lms.djangoapps.courseware.masquerade import is_masquerading_as_student
from lms.djangoapps.courseware.tabs import get_course_tab_list
from lms.djangoapps.course_goals.models import UserActivity

from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
%>

<%
if active_page is None and active_page_context is not UNDEFINED:
    # If active_page is not passed in as an argument, it may be in the context as active_page_context
    active_page = active_page_context

if course is not None:
    include_special_exams = (
    request.user.is_authenticated and
    settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and
    (course.enable_proctored_exams or course.enable_timed_exams)
    )
%>

% if include_special_exams is not UNDEFINED and include_special_exams:
<%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif

% if disable_tabs is UNDEFINED or not disable_tabs:
    <%
    tab_list = get_course_tab_list(request.user, course)
    # Record course goals user activity for (web) courseware and course tabs that are outside of the learning mfe
    UserActivity.record_user_activity(user, course.id)
    %>

% if 'LA001' in str(course) or 'CS000' in str(course):
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-5 my-auto pl-0 pr-0">
            <nav class="navbar course-tabs pb-0 navbar-expand" aria-label="${_('Course')}">
                <ul class="navbar-nav mr-auto">
                    % for tab in tab_list:
                    <%
                    tab_is_active = tab.tab_id in (active_page, default_tab)
                    %>
                    <li class="nav-item ${'active' if tab_is_active else ''}">
                        <a href="${tab.link_func(course, reverse)}" class="nav-link">
                            ${_(tab.name)}
                            % if tab_is_active:
                            <span class="sr-only">, ${_('current location')}</span>
                            %endif
                            % if tab_image:
                            ## Translators: 'needs attention' is an alternative string for the
                            ## notification image that indicates the tab "needs attention".
                            <img src="${tab_image}" alt="${_('needs attention')}" />
                            %endif
                        </a>
                    </li>
                    % endfor
                </ul>
            </nav>
        </div>
        <div class="col-md-6 col-lg-7 d-none d-md-block my-auto">

            <div class="row">
                    <div class="offset-md-1 col-md-2 my-auto text-center p-0">
                    
                            <a  target="_blank" href="https://learn.climateireland.ie/courses/course-v1:ClimateIreland+LA101+2020_T4/course/"><img class="cilt-nav-designed-by-img"
                                src="${static.url('images/LA CLIMATE ACTION_edited-RED (002).png')}" alt="Course Icon"></a>
    
                    </div>

      
                <div class="col-md-2 my-auto text-center pl-3 pr-2">
                    
                        <a  target="_blank" href="https://www.lgma.ie/en/ccma"> <img class="cilt-nav-designed-by-img"
                                src="${static.url('images/CCMA_STRAP_RGB.png')}" alt="LGMA"></a>

             
                </div>
                <div class="col-md-2 my-auto text-center pl-2 pr-2">
                    
                        <a  target="_blank" href="https://www.lgma.ie/en"><img class="cilt-nav-designed-by-img"
                                src="${static.url('images/LGMA_logo.png')}" alt="LGMA"></a>

             
                </div>
                <div class="col-md-2 my-auto text-center pl-2 pr-2">
                    
                        <a  target="_blank" href="http://caro.ie/"><img class="cilt-nav-designed-by-img"
                                src="${static.url('images/CARO_logo.png')}" alt="CARO"></a>

                </div>
                <div class="col-md-1 my-auto text-center pl-2 pr-2">
                    
                    <a  target="_blank" href="https://www.lasntg.ie/"><img class="cilt-nav-designed-by-img"
                            src="${static.url('images/lasntg-logo.png')}" alt="LASNTG"></a>

            </div>
                <div class="col-md-2 my-auto text-center pl-2 pr-2">
                    
                        <a  target="_blank" href="https://www.climateireland.ie/"><img class="cilt-nav-designed-by-img"
                                src="${static.url('images/Climate-Ireland-Logo-RGB.png')}" alt="Climate Ireland"></a>

                </div>
            </div>
        </div>
    </div>
</div>
% else:
<nav class="navbar course-tabs pb-0 navbar-expand" aria-label="${_('Course')}">
    <ul class="navbar-nav mr-auto">
        % for tab in tab_list:
            <%
            tab_is_active = tab.tab_id in (active_page, default_tab)
            %>
            <li class="nav-item ${'active' if tab_is_active else ''}">
                <a href="${tab.link_func(course, reverse)}" class="nav-link">
                    ${_(tab.name)}
                    % if tab_is_active:
                        <span class="sr-only">, ${_('current location')}</span>
                    %endif
                    % if tab_image:
                        ## Translators: 'needs attention' is an alternative string for the
                        ## notification image that indicates the tab "needs attention".
                        <img src="${tab_image}" alt="${_('needs attention')}" />
                    %endif
                </a>
            </li>
        % endfor
    </ul>
</nav>
% endif
% endif