/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 220px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.global-header {
  // DC 23-04-20: Dont know why, but does not work without !important
  background: #4a5569 !important;
}

.main-header {
  background-color: #4a5569;
  padding-top: 5px;
}

.global-header > .main-header > .hamburger-menu > .line {
  background-color: #a5d3f7;
}

.global-header > .main-header > .mobile-menu > .mobile-nav-link > a:hover, 
.global-header > .main-header > .mobile-menu > .mobile-nav-link > a:focus {
  background-color: #4d769c;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: 75px;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
  }
  //background-color: #4c61bf;// TODO recommandé par clem
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

.toggle-user-dropdown > .fa-caret-down {
  color: #fff;
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.global-header .header-logo .course-header {
  color: #fff!important;
}

.home > header .title {
  box-shadow: none;
  background-color:#fff;
  border-radius: 20px;
  margin-top: 20px;
}

.global-header .nav-links .secondary a.register-btn{
  background-color: #4d769c;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.global-header .nav-links .secondary .nav-item a {
  color: $secondary !important;
}

.global-header .nav-links .secondary .nav-item .dropdown-item a {
  color: #313131 !important;
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// Course about page
.course-info header.course-profile {
  background: #4a5569;
  box-shadow: none;
  border-bottom: none;
  
  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

/////////////////// Course details
.course-info header.course-profile {
  height: 100%;
  padding-top:0px
}
  

.course-info header.course-profile .intro-inner-wrapper .media .hero { 
  border: none; 
} 

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Course Overview
.vertical-title {
  color: #344f69;
}

// DCasey June 2020: scroll was creating grey bar 
.course-material {
  overflow-x: auto;
  background-color: white;
}

// DCasey June 2020: important required as discussion is styled from both
// lms-main.css and lms-discusion-bootstrap.css 
.content-wrapper .course-tabs {
  overflow-x: auto !important;
}

.cilt-nav-designed-by-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.cilt-nav-designed-by-img {
  width: 100%;
  max-width: 120px;
  margin-bottom: 5px
}

.content-wrapper .course-tabs .nav-item .nav-link {
  color: #4d769c!important;
}

@media only screen and (min-width: 992px){
// DCasey June 2020: fixed margin issue for Course Instructor Page
.view-instructordash > .window-wrap {
  margin-top:0px
}

.view-courseware > .window-wrap > #content {
  margin-top:0px
}

.view-progress > .window-wrap > #content {
  margin-top:0px
}

.None > .window-wrap > #content {
  margin-top:0px
}

// DCasey June 2020: fixed margin issue for Course Discussion Page
.discussion > .window-wrap > #content{
  margin-top:75px
}
}



// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.sidebyside {
  float:left; 
  margin:5px;
}
.sidebyside {
  float:left; 
  margin:5px;
}
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;
  color: #ffffff;
  background-color: #4a5569;


footer .copyright {
      color: #ffffff;
      max-width: 440px; 
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer #footer-openedx .footer-about-openedx a {
      float: none;
      color: #ffffff;
  }
  ._footer-upper {
    background-color: #fafafa;
  }

}
._footer-upper {
  overflow:auto;
  padding-left: 50px;
  padding-bottom: 10px;
  background-color: #fafafa;
  border-top: solid;
  border-color: $primary;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: white;
}

.wrapper-footer footer#footer-openedx a {
  color: white;
}

// a:not(.btn), a:visited:not(.btn) {
//   color: #fff;
// }

.wrapper-course-details > .course-title > .course-target-link {
  color:#4a5569;
}

 
.wrapper-footer footer .site-nav .nav-item .nav-link {
  color: #fff;
}

/////////////////////////////////////////////// Figures
// DCasey April 20: It would seem that all Figures customisation requires !important to take effect
.header-area__3RCaLODi {
  background-color: #4d769c !important;
}

.underConstructionWrapper{
  width:100%;
}

.underConstructionDigger {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

