<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>

        <p class="text-center">If you have any questions, issues or feedback please email the Climate Ireland Learning team.</p>
        <p class="text-center"><a href="mailto:learn@climateireland.ie" target="_blank">learn@climateireland.ie</a></p>


	</div><!-- .entry-content -->

	</article><!-- #post-401 -->
		</div>


        




	</div><!-- #primary -->



    </section>
</main>