.wrapper-content-header.wrapper{
  min-height: calc(100vh - 200px); // sticky footer
}

.wrapper-header .wrapper {
  background-color: #4a5569;
  color: #fff;
}

.wrapper-footer .wrapper{
  background-color: #4a5569!important;
  // background-color: red;
  color:white;
}

#view-top {
  background-color: #4a5569;
  color:white;
}

.wrapper-header .info-course .course-link {
  color: #fff;
}
.wrapper-header .info-course .course-org, .wrapper-header .info-course .course-number {
  color: #fff;
}