
/////////////////// General
$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 202.4px;

$cil-primary: #4a5569; // Should be same as $banner
$cil-secondary: #5b7599;
$cil-tertiary: #f2f3f4;
// $cil-tertiary: #fafafa;

body, body.view-profile {
  min-height: initial;
  background-color: white;
}

%btn-pl-default-base {
  border-radius: 5;
}

h1, h2, h3, h1 span, h2 span, h3 span {
  font-family: $font-family-title;
  color: $banner;
}

#content.content-wrapper.main-container {
  padding-left:0px;
  padding-right:0px;
  // margin-top: 0px;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: 75px;
  }
  // min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
  min-height: calc(100vh - #{$header-height + $footer-height}); // sticky footer
}

body.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: 0px;
}

////////////////// Fonts
@import "fonts";

%t-title {
  font-family: $font-family-title;
}
/////////////////// Login
.login-register > .form-type > .form-wrapper > .toggle-form {
  display:none;
}

/////////////////// Header

body header.global-header {
  background-color: $banner;

  .main-header {
    .hamburger-menu {
      .line{
        background-color: white;
      }  
    }
    .hamburger-menu:hover {
      .line{
        background-color: $primary;
      }
    }
  }

  .mobile-menu .mobile-nav-link {
    a:hover, a:focus {
      background-color: $primary;
      color: white;
    }
  }

  .nav-links .main {
    .nav-item {
      a {
        color: white;
      }
      a:hover {
        color: $cil-tertiary;
      }
  }
}

  .nav-links .secondary {
    .dropdown-user-menu {
      position: fixed;
    }

    .toggle-user-dropdown > .fa-caret-down {
      color: white;
    }

    .nav-item {
      a {
        color: white;
      }
      a:hover {
        color: $cil-tertiary;
      }

      a.register-btn{
        background-color: $primary;
      }
      a.register-btn:hover{
        background-color: white;
        color: $primary;
      }
      a.sign-in-btn:hover{
        background-color: white;
        color: $primary;
      }
    }

    .dropdown-nav-item{
      a {
        color: $primary;
      }
      a:hover {
        background-color: $primary;
        color: white;
      } 
    }
    .user-image-frame {
      border-radius: 0;
    }
  }

  .main-header h1.header-logo .course-header span {
    color: white;
  }
}

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
  }
  //background-color: #4c61bf;// TODO recommandé par clem
  box-shadow: none;
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: white;
}

.home > header .title {
  box-shadow: none;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

////////////////// Discover new
.courses-container .courses .course .course-image {
  .cover-image{
    text-align: center;
    height: 200px;
  }
  .cover-image:before{
    text-align: center;
    height: 200px;
  }
}

.courses-container .courses .course .course-image .cover-image img {
  height: 100%;
  width: auto;
}

////////////////// User dashboard /dashboard
.dashboard .main-container .my-courses {
  .course .details .wrapper-course-image {
    width:50%;
    max-height:350px;
  }
  .course-image {
    max-height:300px;
  }
  .listing-courses .course-item{
    background-color: $cil-tertiary;
  }


}


////////////////// Course about page

.course-info header.course-profile {
  background-color: $cil-tertiary;
  border-bottom: solid;
  border-color: $banner;
  .intro-inner-wrapper {
    background-color: $cil-tertiary;
    border: none;
    box-shadow: none;
    max-width: 1080px;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: white;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

/////////////////// Course details
.course-info header.course-profile {
  height: 100%;
  padding-top:0px
}

.course-info header.course-profile .intro-inner-wrapper .media .hero { 
  border: none; 
} 

////////////////// Course discussion page
// DCasey June 2020: important required as discussion is styled from both
// lms-main.css and lms-discusion-bootstrap.css 
.content-wrapper .course-tabs {
  overflow-x: auto !important;
}

////////////////// Course instructor page
.instructor-nav .nav-item a:hover{
   text-decoration: none;
}


/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: white;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Course Overview
.vertical-title {
  color: $primary;
}

.course-sidebar{
  display: none;
}

// DCasey June 2020: scroll was creating grey bar 
.course-material {
  overflow-x: auto;
  background-color: white;
}

// .cilt-nav-designed-by-label {
//   font-size: 14px;
//   margin-bottom: 5px;
// }

.cilt-nav-designed-by-img {
  width: 100%;
  max-width: 120px;
  // margin-bottom: 5px
}

.content-wrapper .course-tabs .nav-item .nav-link {
  color: $primary !important;
}
 
.hd.hd-2.unit-title {
  color: $banner;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer


.wrapper-footer {
  box-shadow: none;
  margin: 0px!important; // DCasey July 2020: set from  multiple places i.e. lms-course.css
  padding: 0px!important; // DCasey July 2020: set from  multiple places i.e. lms-course.css
  border-top: solid;
  border-color: $primary;

  footer {
    max-width: none;
  }

  .cilt-footer-upper {
    background-color: $cil-tertiary;

    img {
      width:100%;
      padding: 15px 0px 15px 0px;
    }   
  }

  .cilt-footer-lower {
    background-color: $banner;
    padding: 15px;

    .navbar {
      padding-bottom: 15px;
    }

    .site-nav .nav-item {
      .nav-link {
        color: white;
      }
      .nav-link:hover {
        color:$cil-tertiary;
      }
    }

    .copyright {
      display: none;
      color: white;
      max-width: 440px; 
    }

    .footer-about-openedx{
      text-align:right
    }
  }
}

/////////////////////////////////////////////// Figures
// DCasey April 20: It would seem that all Figures customisation requires !important to take effect
.header-area__3RCaLODi {
  background-color: $primary!important;
}

/////////////////////////////////////////////// Index
.cilt-under-construction-wrapper{
  width:100%;
  img {  width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}