## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper-footer">
    <footer>
        <div class="container-fluid cilt-footer-upper">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="https://www.marei.ie" target="_blank"><img src="${static.url('images/MaREI_Logo.png')}" alt="MaREI" style="max-width: 150px;"></a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="https://www.ucc.ie/en/eri/" target="_blank"><img src="${static.url('images/ERI_Logo.png')}" alt="ERI" style="max-width: 200px;"></a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="https://www.ucc.ie" target="_blank"><img src="${static.url('images/UCC_Logo_2018_low.png')}" alt="UCC" style="max-width: 130px;"></a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="http://www.dccae.gov.ie/" target="_blank"><img src="${static.url('images/DECC logoCropped.png')}" alt="DECC" style="max-width: 270px;"></a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="https://www.epa.ie" target="_blank"><img src="${static.url('images/EPA_Logo.png')}" alt="EPA" style="max-width: 160px;"></a>
                </div>
            </div>
    
            <div class="col-6 col-sm-4 col-md-2 text-center my-auto">
                <div>
                    <a href="https://www.ichec.ie" target="_blank"><img src="${static.url('images/ICHEC_Logo.png')}" alt="ICHEC" style="max-width: 120px;"></a>
                </div>
            </div>
          </div>
    </div>
    <div class="container-fluid cilt-footer-lower">
      <div class="row">
        <div class="col-6 col-sm-12 col-md-6">
          
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              
              <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
              
              <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.climateireland.ie/#!/contact">Contact</a></li>

              <li class="nav-item"><a class="nav-link" href="/tos">Terms of Service</a></li>
              <li class="nav-item"><a class="nav-link" href="/privacy">Privacy Policy</a></li>
            </ul>
          </nav>
          
          ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
          <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
  
        </div>
        <div class="col-6 col-sm-12 col-md-6">
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">
              <div class="row">
                <div class="col-12 col-sm-4 my-auto">
                <a href="https://climateireland.ie" rel="noopener" target="_blank">
                  <img class="cilt-about-openedx-img" src="${static.url('images/CI-DevelopedByLogoWhite.png')}" width="140" />
                </a>
              </div>
              <div class="col-12 col-sm-4 my-auto">
                <a href="https://docs.tutor.overhang.io/" rel="noopener" target="_blank">
                  <img class="cilt-about-openedx-img" src="${static.url('images/tutor-logo.png')}" width="140" />
                </a>
              </div>
                <div class="col-12 col-sm-4 my-auto">
                <a href="${footer['openedx_link']['url']}" rel="noopener" target="_blank">
                  <img class="cilt-about-openedx-img" src="${static.url('images/openedx-logo.png')}" alt="${footer['openedx_link']['title']}" width="140" />
                </a>
              </div>
              </div>
            </div>
          % endif
        </div>

      </div>
    </div>
    </footer>
  </div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif